.user-nav {
    display: flex;
    flex-direction: column;
    width: 25vw;
    position: absolute;
    right: 0;
    top: 3vh;
    background-color: #dddddd;
    margin: 0;
    padding: 0.5rem 1rem;
    align-items: center;
    height: 90vh;
}

.nav-link {
    color: #000000;
    margin-bottom: 0.3rem;
    text-decoration: none;
}